DHC Review

From Bernie:

For 5.2.1,

In DHCP, each Authorization Claim is encoded as a DHCP Authentication Option [[RFC3118](https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.ietf.org%2Farchive%2Fid%2Fdraft-ietf-add-split-horizon-authority-04.html%23RFC3118&data=05%7C01%7Cmohamed.boucadair%40orange.com%7C13324f8866f1427d9e9408dbba379850%7C90c7a20af34b40bfbc48b9253b6f5d20%7C0%7C0%7C638308520159875264%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=3WYH6dmFyhmJQEkEoVspwIdNfqSjxBZqqmulgcDi8y0%3D&reserved=0)], using the

I wonder why RFC8415 and it’s Authentication Option (section 21.11) isn’t at least referenced. They are formatted the same but there’s hopefully more interest in v6 and I suspect a lot more deployment of this option in v6 as the Reconfiguration Key Authentication Protocol is used (require) for certain devices?

Also would referencing section [10](https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdatatracker.ietf.org%2Fdoc%2Fhtml%2Frfc8415%23section-10&data=05%7C01%7Cmohamed.boucadair%40orange.com%7C13324f8866f1427d9e9408dbba379850%7C90c7a20af34b40bfbc48b9253b6f5d20%7C0%7C0%7C638308520159875264%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=aPA4uyaiVHIW6tEF2el5zh3WcnMD4vKBte21NvQm46c%3D&reserved=0) of 8415 be better than “in canonical form”?


10.  Representation and Use of Domain Names

   So that domain names may be encoded uniformly, a domain name or a
   list of domain names is encoded using the technique described in
   Section 3.1 of [RFC1035].  A domain name, or list of domain names, in
   DHCP MUST NOT be stored in compressed form as described in
   Section 4.1.4 of [RFC1035].


Fixed in draft-ietf-add-split-horizon-authority-05 revision. 