make idnits happy

  == Unused Reference: 'RFC9162' is defined on line 947, but no explicit
     reference was found in the text

  -- Obsolete informational reference (is this intentional?): RFC 8499
     (Obsoleted by RFC 9499)

Fixed in https://author-tools.ietf.org/iddiff?url2=draft-ietf-add-split-horizon-authority-08